h1 { 
	font-weight: 300;
	font-size: 40px;
	color: #aa0000;
	margin: 20px;
	line-height: 20px
}

h2 {
	font-weight: 300;
	font-size: 20px;
	color: black;
	line-height: 1.5;
	margin: 20px;
}


a {
	color: #aa0000;
	text-align: right;
	margin: 20px;

}

h5 {
	font-weight: 300;
	font-size: 14px;
	color: #dddddd;
	margin: 20px;
}




a:hover {
    color: #dd0000;
	text-decoration: #black;
	margin: 20px;
}


hr {
	margin-bottom: 70px;
}

img {
	width: 100%;
}

#section-headers {
	color: black;
}

.continues {
	text-align: right;
	font-weight: bold;
	font-size: 16px;
}


#main-container {
	margin: 50px;
	font-family: 'Lato', sans-serif; 
	color: #444444;
	line-height: 1.5;
	width: 65%
}

#top-nav{
	margin-bottom: 40px;
	font-size: 18px;
}

#top-nav a{
	color: #dddddd;
	text-decoration: underline;
	margin-right: 10px;
}

.date, .title {
	font-size: 36px;
}

.date {
	color: #cccccc;
}

.title {
	color: black;
}

